fastapi==0.117.1
uvicorn==0.37.0
gunicorn==23.0.0
python-multipart==0.0.20

asyncpg==0.30.0
SQLAlchemy==2.0.43

passlib==1.7.4
bcrypt==4.3.0
python-jose==3.5.0
PyJWT==2.10.1

numpy==2.2.1
pandas==2.2.3
scikit-learn==1.7.2
joblib==1.5.2

cloudinary==1.44.1
resend==2.4.0

python-dotenv==1.1.0

pydantic==2.11.9
pydantic_core==2.33.2
